<div class="row align-items-center justify-content-xl-between">
    <div class="col-xl-6">
        <div class="copyright text-center text-xl-left text-muted">
            &copy; Purdue University CNIT 581-IoT 2018
        </div>
    </div>
    <div class="col-xl-6">
        <ul class="nav nav-footer justify-content-center justify-content-xl-end">
            <li class="nav-item">
                @Html.ActionLink("About Us", "About", "Home", new {@class="nav-link", target="_blank"})
            </li>
            <li class="nav-item">
                @Html.ActionLink("Contact", "Contact", "Home", new {@class="nav-link", target="_blank"})
            </li>
        </ul>
    </div>
</div>